* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body 
{
	background: #fff;
	font: 14px/22px 'Open Sans', sans-serif;
}
#header
{

	
	height:106px;
	width: 1285px;
	margin-bottom: 62px;
	padding: 10px 0 57px;
}
.header-top
{
	background: #fff;
	height: 85px;
	
}
.logo
{ 
	float: left;
	width: 322px;
	margin-top: 10px;
	margin-left: 20px: 
 	padding-left: 20px;
}
.row
{
	float: right;
	width: 963px;
}

.row1
{
	float: left;
	color:#235ab2;
	width: 481px;
	margin-top: 30px;
	margin-left: 100px;
	font-family: 'Ceviche One', cursive;
	font-size: 20px ;
	font-weight: 700;

}
.row2
{
	float: right;
	color: #235ab2;
	text-decoration: none;
	margin-top: 20px;
	font-family: 'tahoma bold','red-serif';
	font-size: 20px ;
	font-weight: 700;

}
.navigation
{
	float: right;
	display: inline-block;
	width: 100%;
	height: 65px;
	
}
#menuBar
{
	display: inline-block;
	width: 100%;
	border-top: solid 3px #8b97e0;
	border-bottom: solid 2px #8b97e0;
}

ul#menuBar
{

	text-decoration: none;
	list-style-type: none;  
	

}

ul#menuBar li
{	
	float: left;	
	margin-top: 20px;
	margin-bottom: 20px;	
	


}

ul#menuBar li a
{
	text-decoration: none;
  	color: #000000;
	font-family: 'tahoma bold','calibiri';
  	font-size: 17px ;
  	font-weight: 600;
  	padding: 20px;
  	margin-left: 20px;
  	
    
}

ul#menuBar li a:hover 
{
	color: #235ab2; 
}
/* container */
#container
{
	width: 1285px;

}
.slideshow-container
{
	max-width: 100%;
	position: relative;
	margin: auto;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot
{
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active
{
	background-color: #717171;
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
#para
{
	
	width: 1285px;
	height: 300px;
	padding-top: 10px;
}
.veg 
{
	float: left;
	width: 429px ;
	padding-left: 20px;
}
.fruits
{
	width: 856px;
	float: right;
}
.second
{
	float: left;
	width: 428px ;
	
}
.third
{ 
	float: right;
	width: 428px ;
}

/*footer */

#footer
{
	font-family:'Calibri Light';
    font-size: 15px ; 
    text-align: center;
    margin-top: 10px;
    color: #000000;
    background: #021e4c;
    padding-top: 10px;
    padding-bottom: 5px;
}
img.img1
{
 height: 20px;
 width: 30px;
 float: right;
 padding-right: 5px;
}
/*footer close*/